{% extends 'base2.html.twig' %}

{% block body %}
    <h1>Editar perfil</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Guardar cambios</button>
    {{ form_end(form) }}
{% endblock %}