@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
/* Asegura que el encabezado ocupe toda la pantalla */
#encabezado {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.nav-item {
    margin: 0 50px;
}

/* Cambia el color de fondo del botón de iniciar sesión a verde y la letra a blanca */
.btn-outline-success {
    background-color: green;
    color: white;
}

/* Cambia el color del icono del carrito a verde */
.carrito-btn {
    border: none;
    margin-left: 50px;
    background-color: transparent; /* Asegura que el color de fondo es transparente */

    .fas.fa-shopping-cart {
        color: green;
        font-size: 24px;
    } 

    &:hover {
        background-color: transparent; /* Asegura que el color de fondo es transparente en hover */
        .fas.fa-shopping-cart {
            color: #81B97D; /* Cambia el color del icono a un verde más claro cuando se pasa el ratón por encima */
        }
    }
}

.carrito-btn:focus {
    box-shadow: none;
    background-color: inherit;
    outline: none;
}

//HEADER2

/* Añade 40px de margen a la izquierda del logo */
.navbar-brand.logo {
    margin-left: 40px;
}

.navbar-nav {
    justify-content: center;
}

.btn.btn-outline-success.nav-item-custom {
    margin-right: 125px;
}

.container-fluid {
    display: grid;
    grid-template-areas: "logo nav profile";
    grid-template-columns: 1fr 5fr 1fr;
}

.logo-area {
    grid-area: logo;
}

.nav-area {
    grid-area: nav;
}

.profile-area {
    grid-area: profile;
}

/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .navbar-brand.logo {
        margin-left: 20px; /* Reduce el margen izquierdo */
    }

    .btn.btn-outline-success.nav-item-custom {
        margin-right: 20px; /* Reduce el margen derecho */
    }

    .container-fluid {
        grid-template-areas: 
            "logo"
            "nav"
            "profile"; /* Cambia la disposición de la cuadrícula para que cada área esté en su propia fila */
        grid-template-columns: 1fr; /* Hace que cada área ocupe todo el ancho de la cuadrícula */
    }
}




/*FOOTER*/
#pie {
    flex-shrink: 0;
    background-color: green; // Cambia el color de fondo a verde
    color: white; // Cambia el color de la letra a blanco
    text-align: center; // Centra el contenido del pie de página
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin-top: auto; // Hace que el pie de página tenga el ancho completo
}
//HOME 
.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*CAROUSEL*/
.carousel-inner {
    height: 50vh; // Ajusta este valor según tus necesidades
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
    .carousel-inner {
        height: 20vh; // Reduce the height of the carousel on smaller screens
    }
}

/*CARDS*/

/* Establece el tamaño de las tarjetas y permite que se adapten a pantallas pequeñas */
.same-width .card {
    width: 611px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    border: none; // Elimina el borde de las tarjetas
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Añade un sombreado a las tarjetas
}

/* Establece el margen de las imágenes dentro de las tarjetas */
.same-width .card img {
    width: 100%;
    height: auto;
    margin: 10px; // Ajusta este valor según tus necesidades
    object-fit: contain; // Ajusta la imagen para que se ajuste al tamaño de la tarjeta
}

/* Establece la letra del título en negrita */
.same-width .card .card-title {
    font-weight: bold; // Hace que la letra del título sea en negrita
}

/* Establece el tamaño, las esquinas y la posición de los botones */
.same-width .btn-primary {
   padding: 10px 20px; // Ajusta este valor según tus necesidades
    border-radius: 10%; // Hace que los botones no tengan esquinas
    margin-top: 20px; // Hace que los botones estén más bajos
    margin-left: 50px;
    border:none;
    background-color: green;
    color: white;
}

@media (max-width: 767px) {
    .same-width .card {
        width: 100%;
        height: auto;
    }
}

.same-width .btn-primary:hover {
    background-color: darkgreen;
}

/*CONTACTO*/

/* Establece el estilo del título y el párrafo */
h1.titulo-24, .mb-3.mb-md-0 p {
    margin-top: 50px; /* Ajusta este valor según tus necesidades */
}

/* Establece el estilo de la imagen */
.col-12.col-md-6.order-1.order-md-3.offset-md-1 img {
    margin-top: 50px; /* Ajusta este valor según tus necesidades */
}

/* Establece el estilo de los campos de entrada del formulario */
#contact-form input[type="text"], 
#contact-form input[type="email"], 
#contact-form textarea {
    display: block;
    width: 100%;
    border: 1px solid green; /* Establece el borde de color verde */
    border-radius: 0; /* Hace que los campos de entrada sean rectangulares sin esquinas */
    margin-bottom: 20px;
    padding: 10px;
}

/* Establece el estilo del botón de envío */
#contact-form input[type="submit"],
#contact-form button,
#contact-form input[type="button"] {
    background-color: green; /* Establece el color de fondo a verde */
    color: white; /* Establece el color de la letra a blanco */
    border: none;
    border-radius: 10px; /* Hace que el botón sea rectangular sin esquinas */
    padding: 10px 20px;
}

#contact-form {
    margin-bottom: 50px; /* Ajusta este valor según tus necesidades */
}


/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
    h5.titulo-24, .mb-3.mb-md-0 p, .col-12.col-md-6.order-1.order-md-3.offset-md-1 img {
        margin-left: 20px; /* Añade margen a la izquierda */
        margin-right: 20px; /* Añade margen a la derecha */
    }
}

/*CONOCENOS*/

/* Estilo para la imagen principal */
.image-container {
    display: flex;
    justify-content: center;
    margin: 2%; /* Ajusta este valor según tus necesidades */
}

.image-container img {
    width: 96%;
    height: auto;
}

/* Estilo para las secciones de contenido */
.content-section {
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin: 20px auto; /* Ajusta este valor según tus necesidades */
}

.text-section {
    flex: 1;
    margin-right: 10px; /* Ajusta este valor según tus necesidades */
}

.image-section {
    flex: 1;
    margin-left: 10px; /* Ajusta este valor según tus necesidades */
    margin-bottom: 100px;
}


.first-image {
    margin-top: 50px; /* Ajusta este valor según tus necesidades */
    align-self: flex-start;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
    .content-section {
        flex-direction: column;
    }

    .text-section, .image-section {
        margin: 0;
    }
}

/*AYUDA*/

h2.subtitulo {
    margin-top: 50px; /* Ajusta este valor según tus necesidades */
}

.container {
    position: relative;
  }

.row {
    margin-right: 0;
  
}

#acordeonPedidos, #acordeonProductos {
    margin-bottom: 35px; // Ajusta este valor según tus necesidades
}

.titulo-ayuda, .subtitulo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-left: 0;
}

.titulo-ayuda {
    margin-top: 50px;
}

.subtitulo {
    margin-top: 100px;
    margin-bottom: 50px;
}

@media (min-width: 768px) {
    .titulo-ayuda, .subtitulo {
        text-align: left;
    }

    .titulo-ayuda {
        margin-left: 58px;
    }

    .subtitulo {
        margin-left: 213px;
    }
}
.telefono {
    color: #5C9738;
}

#envios,  #pedidos, #productos, #cuenta {

    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: #5C9738;
}
//COMPRA

.header-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 59px;
    margin-top: 63px;
}

.mapa {
    width: 1440px;
    height: 732px;
    margin-top: 126px;
    margin-bottom: 21px;
}

.caja {
    position: absolute;
    left: 0;
    top: 250px;
    width: 340px;
    height: 620px;
    background-color: white;
}

.titulo-caja {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.titulo-caja:first-of-type {
    margin-bottom: 0; /* Ajusta este valor según tus necesidades */
}

.codigo-postal {
    margin-bottom: 16px;;
}

.btn-buscar {
    width: 250px;
    background-color: green !important;

    &:hover,
    &:focus,
    &:active,
    &:focus:active {
        background-color: #81B97D !important; /* Cambia el color de fondo a un verde más claro cuando se pasa el ratón por encima, está enfocado o activo */
        border-color: #81B97D !important; /* Cambia el color del borde a un verde más claro cuando está activo */
        outline: none !important; /* Elimina el borde azul cuando el botón está enfocado */
    }
}

.titulo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .caja {
        position: static;
        width: 100%;
    }
}

#error {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#codigo-tienda {
    margin-top: 20px;
    list-style-type: none
}

#nombre-comercio {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}


/*LOGIN*/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.espacio-footer {
    margin-top: 70px;
}

.login-box {
    width: 568px;
    height: 656px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 116px;
    box-sizing: border-box;
}

.login-box img {
    width: 335px;
    height: 157px;
}

.login-box .input-field {
    width: 424px;
    height: 50px; /* Reemplaza 'hug' con un valor válido */
    background-color: white;
    border-radius: 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.login-box .input-field input {
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    flex: 1;
}

.login-box .input-field label {
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px;
}

.login-box .button {
    width: 424px;
    height: 50px; /* Reemplaza 'hug' con un valor válido */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: none;
}

.login-box .button.next {
    background-color: #5C9738
}

.login-box .button.cancel {
    background-color: #909090;
}

.login-box p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Responsive design */
@media (max-width: 600px) {
    .login-box {
        width: 90%;
        padding: 32px 10px;
    }

    .login-box img {
        width: 80%;
    }

    .login-box .input-field,
    .login-box .button {
        width: 100%;
    }
}

/*login2*/

.login2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login2-box {
    width: 568px;
    height: 584px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 116px;
    box-sizing: border-box;
}

.login2-box img {
    width: 335px;
    height: 157px;
    margin: 0 auto;
}

.login2-box .form-title {
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif; // Añade esta línea
}

.login2-box form div {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-top: 20px;
}

.login2-box form div input[type="radio"] {
    margin: 0 10px;
}

.login2-box .button {
    width: 424px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border: none;
}

.login2-box .button.next {
    background-color: #5C9738;
    font-size: 16px;
}

.login2-box .button.cancel {
    background-color: #909090;
}

/* Responsive design */
@media (max-width: 600px) {
    .login2-box {
        width: 90%;
        padding: 32px 10px;
    }

    .login2-box img {
        width: 80%;
    }

    .login2-box .button {
        width: 100%;
    }
}

/*REGISTRO*/

.form-container {
    width: 568px;
    height: 704px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    margin: 0 auto;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    padding-top: 20px;
}

.form-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    margin-bottom: 20px; /* Agrega un margen entre el título y el formulario */
}

.form-container {
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 568px;
        margin-top: 40px; /* Mueve el formulario más arriba */
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    select,
    input[type="date"] { /* Asegura que el campo de fecha tenga el mismo estilo */
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 10px;
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 15px;

        &:last-of-type {
            margin-bottom: 30px; /* Añade un margen adicional al último campo */
        }
    }

    .form-button {
        width: 435px;
        height: auto;
        margin-right: 16px; /* Agrega un margen a la derecha de cada botón */
        margin-bottom: 30px; /* Agrega un margen en la parte inferior de los botones */
        font-family: 'Montserrat', sans-serif; /* Establece la fuente de los botones a Montserrat */
    }

    .form-button + .form-button {
        margin-left: 16px; /* Agrega un margen a la izquierda del segundo botón */
    }

    .btn-gris {
        background-color: #808080; /* Color de fondo gris */
        color: #FFFFFF; /* Color de texto blanco */
        border-color: #808080; /* Color de borde gris */
    
        &:hover {
            background-color: #606060; /* Color de fondo gris oscuro cuando el ratón pasa por encima */
            border-color: #606060; /* Color de borde gris oscuro cuando el ratón pasa por encima */
        }
    }

    @media (max-width: 600px) {
        form {
            padding: 16px;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        select,
        input[type="date"] {
            width: 100%;
        }
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
input[type="date"] {
    width: 100%;
}
.form-container.empresa {
    height: 870px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 10%; /* Ajusta esto según tus necesidades */
    left: 50%;
    transform: translate(-50%, -10%); /* Ajusta esto según tus necesidades */
    padding-top: 20px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 568px;
        margin-top: 40px; /* Mueve el formulario más arriba */
    }
}

.btn-gray {
    background-color: #808080; /* Color de fondo gris */
    color: #FFFFFF; /* Color de texto blanco */
    border-color: #808080; /* Color de borde gris */

    &:hover {
        background-color: #606060; /* Color de fondo gris oscuro cuando el ratón pasa por encima */
        border-color: #606060; /* Color de borde gris oscuro cuando el ratón pasa por encima */
    }
}

// Perfil

.profile-container {
    display: flex;
    align-items: start;
}

.image-and-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-placeholder {
    margin-top: 40px;
    margin-left: 109px;
    width: 172px;
    height: 172px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-left: 100px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    background-color: green;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 142px;
    height: 50px;
}

.button:hover {
    background-color: #64AD61;
}

.profile-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 63px;
    margin-left: 50px;
}

.profile-field {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}

.field-box {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.button-edit-profile, .button-edit-profile:visited {
    background-color: #fff;
    color: green;
    border: 1px solid green;
}

.button-edit-profile:hover {
    background-color: #64AD61;
    // No hay cambio de color en el hover
}

.button-add-image, .button-add-image:visited {
    background-color: #fff;
    color: green;
    border: 1px solid green;
}

.button-add-image:hover {
    background-color: #64AD61;
    color: #fff;
}

.button-logout, .button-logout:visited {
    background-color: #fff;
    color: green;
    border: 1px solid green;
}

.button-logout:hover {
    background-color: #64AD61;
    // No hay cambio de color en el hover
}

// Estilos para pantallas pequeñas (móviles)
@media (max-width: 600px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .image-and-button-container {
        margin-top: 20px;
    }

    .image-placeholder {
        margin-left: 0;
    }

    .button-container {
        margin-left: 0;
    }

    .profile-title, .profile-field {
        margin-left: 20px;
    }
}

// Estilos para pantallas medianas (tabletas)
@media (min-width: 601px) and (max-width: 900px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .image-and-button-container {
        margin-top: 30px;
    }

    .image-placeholder {
        margin-left: 0;
    }

    .button-container {
        margin-left: 0;
    }

    .profile-title, .profile-field {
        margin-left: 30px;
    }
}

//Perfil comercio

.commerce-profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.commerce-profile-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    margin-left: -400px;
    text-align: left;
}

.commerce-profile-field {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: bold;
}

.commerce-profile-field span {
    font-weight: normal;
    color: #333;
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.commerce-profile-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: green;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.commerce-profile-button:hover {
    background-color: #64AD61;
    color: #fff;
}

/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .commerce-profile-container {
        padding: 10px; /* Reduce el padding */
    }

    .commerce-profile-title {
        font-size: 20px; /* Reduce el tamaño de la fuente */
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    .commerce-profile-field {
        font-size: 14px; /* Reduce el tamaño de la fuente */
    }

    .commerce-profile-button {
        padding: 5px 10px; /* Reduce el padding */
    }
}
//EDITAR PERFIL

.form-field-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px; /* Ajusta este valor para cambiar el ancho total del formulario */
    margin: 50px auto; /* Esto centra el formulario en la página y lo mueve 50px hacia abajo */
}

.form-field {
    flex: 0 0 45%; /* Esto hace que cada campo ocupe aproximadamente la mitad de la fila, permitiendo 2 campos por fila */
    margin-bottom: 1em;
}

.form-field input, .form-field select, .form-field textarea {
    border: 1px solid green;
}

.form-field:nth-child(5) {
    flex: 0 0 100%; /* Esto hace que el último campo ocupe el 100% del ancho, centrándolo en la fila */
    text-align: center; /* Esto centra el texto del último campo */
}

.titulo-editar {
    margin-top: 50px; /* Esto mueve "Editar usuario" 50px hacia abajo */
    margin-left: 150px; /* Esto mueve "Editar usuario" 50px hacia la derecha */
}

.campo-etiqueta {
    font-family: 'Montserrat', sans-serif; /* Esto cambia la fuente a Montserrat */
    font-weight: bold; /* Esto hace que el texto sea en negrita */
}

.save-changes-button {
    width: 142px;
    height: 60px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto; /* Esto centra el botón en la página */
}

.save-changes-button:hover {
    background-color: #64AD61; // Un verde más claro para el efecto hover
}

// Media queries para hacer el formulario responsive
@media (max-width: 600px) {
    .form-field-container {
        flex-direction: column;
    }

    .form-field {
        flex: 0 0 100%;
    }

    .titulo-editar {
        margin-left: 0;
        text-align: center;
    }
}


/* EDITAR COMERCIO */

.comercio-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos hijos horizontalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    position: relative; /* Permite que los hijos posicionados de forma absoluta se posicionen en relación a este elemento */
}

.comercio-form .form-field-container {
    display: flex;
    flex-direction: column; /* Asegura que los campos se apilen verticalmente */
    max-width: 300px; /* Ajusta este valor para cambiar el ancho total del formulario */
    width: 100%; /* Asegura que el contenedor de los campos ocupe todo el ancho disponible */
    margin: 50px auto; /* Esto centra el formulario en la página y lo mueve 50px hacia abajo */
}

.comercio-form .form-field {
    width: 100%; /* Esto hace que cada campo ocupe el 100% del ancho del contenedor */
    margin-bottom: 1em;
    border: 1px solid green;
    box-sizing: border-box; /* Asegura que el padding y el border no aumenten el tamaño del elemento */
    padding: 5px; /* Reduce el padding para hacer la caja más pequeña */
}

.comercio-form .form-field:nth-child(8) {
    text-align: center; /* Esto centra el texto del último campo */
}

.comercio-form .titulo-editar {
    position: absolute; /* Permite que el elemento se posicione en relación a su contenedor padre */
    top: 100px; /* Mueve "Editar comercio" más abajo */
    left: 50px; /* Mueve "Editar comercio" más a la derecha */
    text-align: left; /* Alinea el texto a la izquierda */
}

.comercio-form .campo-etiqueta {
    font-family: 'Montserrat', sans-serif; /* Cambia la fuente a Montserrat */
    font-weight: bold; /* Hace que el texto sea en negrita */
}

.comercio-form .save-changes-button {
    width: 142px;
    height: 60px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto; /* Centra el botón en la página */
}

.comercio-form .save-changes-button:hover {
    background-color: #64AD61; // Un verde más claro para el efecto hover
}

.titulo-editar {
    padding-top: 40px; /* Aumenta este valor para mover "Editar perfil" más abajo */
    padding-left: 70px; /* Aumenta este valor para mover "Editar perfil" más a la derecha */
}

.campo-etiqueta {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.boton-guardar {
    width: 150px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    background-color: green; /* Fondo del botón */
    color: #FFFFFF; /* Color del texto */
    border: 1px solid green; /* Borde del botón */
    font-family: 'Montserrat', sans-serif; /* Fuente del texto */
    border-radius: 8px;
}

.boton-guardar:hover {
    background-color: #64AD61; /* Fondo del botón en hover */
}

/* Media queries para hacer el formulario responsive */
@media (max-width: 600px) {
    .comercio-form .form-field-container {
        flex-direction: column;
    }

    .comercio-form .form-field {
        flex: 0 0 100%;
    }

    .comercio-form .titulo-editar {
        top: 50px; /* Mueve "Editar comercio" más abajo en pantallas pequeñas */
        left: 0; /* Centra "Editar comercio" en pantallas pequeñas */
        text-align: center; /* Centra el texto de "Editar comercio" en pantallas pequeñas */
    }
}



//Inicio Empresa

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-inicio {
    position: relative;
    flex: 1;
}

.subir-productos {
    position: absolute;
    top: 64px;
    right: 44px;
    width: 176px;
    background-color: green;
}
.subir-productos,
.subir-productos:hover,
.subir-productos:focus,
.subir-productos:active {
    background-color: #008000 !important; /* Esto cambia el color de fondo a un verde más oscuro */
    border-color: #008000 !important; /* Esto cambia el color del borde a un verde más oscuro */
    box-shadow: none !important;
    outline: none !important;
}

.seccion {
    position: relative; /* Permite posicionar el título en relación a su contenedor más cercano con posición relativa */
    top: 64px; /* Mueve el título 64px hacia abajo desde la parte superior del contenedor */
    padding-left: 95px; /* Mueve el título 44px hacia la derecha desde la parte izquierda del contenedor */
    font-family: 'Montserrat', sans-serif; /* Cambia la fuente a Montserrat */
    font-size: 24px; /* Cambia el tamaño de la fuente a 24px */
    font-weight: bold; /* Hace la fuente negrita */
}

#productos-modal {
    display: flex; /* Establece el contenedor de productos como un contenedor flexible */
    flex-wrap: wrap; /* Permite que los productos se envuelvan a la siguiente línea si no caben en una sola */
    justify-content: space-between; /* Distribuye el espacio restante entre los productos */
    margin-top: 100px;
}

.producto {
    display: flex;
    flex-direction: column;
    width: 18%; /* Establece el ancho del producto al 18% del contenedor padre para que quepan 5 en una fila */
    margin-left: 115px;
}

.producto img {
    max-width: 60%; /* Establece el ancho máximo de la imagen al 100% del producto */
    height: auto; /* Establece la altura de la imagen a auto para mantener las proporciones */
    margin-bottom: auto;
    /* Resto de las propiedades... */
}

.producto h3 {
    font-family: 'Montserrat', sans-serif; /* Cambia la fuente a Montserrat */
    color: black;
    font-size: 20px; /* Cambia el tamaño de la fuente a 18px */
    font-weight: bold; /* Hace que el texto sea negrita */
}

.producto p {
    color: green; /* Cambia el color del texto a negro */
    font-family: 'Montserrat', sans-serif; /* Cambia la fuente a Montserrat */
    font-size: 14px; /* Cambia el tamaño de la fuente a 14px */
    font-weight: bold;
}

.tabla-pedidos {
    width: 60%; /* Ajusta este valor para cambiar el ancho de la tabla */
    margin: 0 auto; /* Esto centra la tabla en la página */
    margin-top: 60px;
    
}

.tabla-pedidos td {
    color: green; /* Cambia el color del texto a verde */
    padding: 10px 5px;
}

.tabla-pedidos-grande {
    width: 90%; /* Ajusta este valor para cambiar el ancho de la tabla */

}

.tabla-pedidos-grande td {
    padding: 20px; /* Ajusta este valor para cambiar el espacio alrededor del contenido de las celdas */
    padding-right: 10px;
    border-bottom: 1px solid #000; /* Añade una línea de separación debajo de cada celda */
}

.guardar-producto,
.guardar-producto:hover,
.guardar-producto:focus,
.guardar-producto:active {
    background-color: #008000 !important; /* Esto cambia el color de fondo a un verde más oscuro */
    border-color: #008000 !important; /* Esto cambia el color del borde a un verde más oscuro */
    box-shadow: none !important; /* Esto elimina el borde azul */
    outline: none !important; /* Esto elimina el flash azul */
}

/* Estilos generales */
/* ... (tus estilos actuales) ... */

/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .subir-productos {
        position: static; /* Cambia la posición a static */
        width: 100%; /* Hace que el botón ocupe todo el ancho */
    }

    .seccion {
        padding-left: 20px; /* Reduce el padding izquierdo */
        font-size: 20px; /* Reduce el tamaño de la fuente */
    }

    #productos-modal {
        justify-content: center; /* Centra los productos */
    }

    .producto {
        width: 80%; /* Hace que los productos sean más anchos */
        margin-left: 0; /* Elimina el margen izquierdo */
    }

    .producto img {
        max-width: 100%; /* Hace que las imágenes sean más anchas */
    }

    .producto h3 {
        font-size: 18px; /* Reduce el tamaño de la fuente */
    }

    .producto p {
        font-size: 12px; /* Reduce el tamaño de la fuente */
    }

    .tabla-pedidos,
    .tabla-pedidos-grande {
        width: 100%; /* Hace que las tablas ocupen todo el ancho */
    }
}

//COMPRA ONLINE

.titulo-compra-online {
    margin-top: 50px;
    text-align: left;
    padding-left: 80px;
}

.form-busqueda, .form-filtrado {
    margin-top: 20px;
    width: 20%;
    text-align: left;
    margin-left: 5%;
    display: flex; /* Esto hará que los elementos hijos se alineen en una fila */
}

.button-busqueda, .button-filtrado {
    background: none;
    border: none;
    color: green; /* Cambia el color del icono de la lupa a verde */
    padding: 10px; /* Añade un poco de padding para hacer el botón más grande */
}

.input-busqueda, .input-filtrado {
    flex-grow: 1; /* Esto hará que el campo de entrada ocupe todo el espacio disponible */
    margin-right: 10px; /* Esto agregará un margen a la derecha del campo de entrada */
}

.fas.fa-search {
    font-size: 16px;
}

.producto-info {
    display: flex;
    align-items: center;
}

.producto-info h3 {
    margin-right: 10px; /* Esto agrega un margen a la derecha del nombre del producto */
}

.add-to-cart-icon {
    background: none;
    border: none;
    color: green; /* Cambia el color del icono del carrito de compras a verde */
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa por encima del icono */
}

/* Estilos generales */
/* ... (tus estilos actuales) ... */

/* Estilos para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    .titulo-compra-online {
        padding-left: 20px; /* Reduce el padding izquierdo */
    }

    .form-busqueda, .form-filtrado {
        width: 100%; /* Hace que los formularios ocupen todo el ancho */
        margin-left: 0; /* Elimina el margen izquierdo */
        flex-direction: column; /* Cambia la dirección de los elementos a una columna */
    }

    .input-busqueda, .input-filtrado {
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 10px; /* Añade un margen debajo del campo de entrada */
    }

    .producto-info {
        flex-direction: column; /* Cambia la dirección de los elementos a una columna */
        text-align: center; /* Centra el texto */
    }

    .producto-info h3 {
        margin-right: 0; /* Elimina el margen derecho */
    }
}

//CARRITO

.carrito-titulo {
    margin-left: 60px; /* Esto agrega un margen a la izquierda del texto "Carrito" */
    margin-top: 30px; /* Esto agrega un margen entre el texto "Carrito" y el header */
}

.carrito-producto-info {
    display: flex;
    align-items: center;
}

.carrito-producto-info h3 {
    margin-right: 10px; /* Esto agrega un margen a la derecha del nombre del producto */
}

.delete-icon {
    background: none;
    border: none;
    color: green; /* Cambia el color del icono de eliminación a verde */
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa por encima del icono */
}

.actualizar-btn {
    background-color: white; /* Fondo blanco */
    color: green; /* Texto verde */
    border: 1px solid green; /* Borde verde */
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa por encima del botón */
    margin-top: 5px; /* Agrega más separación entre la caja y el botón */
    padding: 2px 10px; /* Hace el botón un poco más ancho */
    border-radius: 5px; /* Redondea las esquinas del botón */
}

.actualizar-btn:hover {
    background-color: #64AD61; /* Cambia el fondo a #64AD61 cuando se pasa por encima del botón */
    color: white; /* Cambia el texto a blanco cuando se pasa por encima del botón */
}

#total-pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px; /* Esto agrega un poco de separación entre el total y el botón y el resto del contenido */
}

 #total-pedido p {
    font-size: 3em !important; /* Esto aumenta el tamaño de la letra del total */
    font-weight: bold !important;
    color: green;
}

#pedido-form {
    display: flex;
    justify-content: center;
    width: 100%; /* Esto asegura que el formulario ocupe todo el ancho disponible */
}

#realizar-pedido {
    margin-top: 20px; /* Esto agrega más separación entre el total y el botón de realizar pedido */
    background-color: white !important; /* Esto hace que el fondo del botón sea blanco */
    color: green !important; /* Esto hace que el texto del botón sea verde */
    border: 2px solid green !important; /* Esto hace que el borde del botón sea verde */
    border-radius: 10px !important; /* Esto redondea las esquinas del botón */
    font-size: 1.5em !important; /* Esto hace que el texto del botón sea más grande */
    padding: 10px 20px !important; /* Esto hace que el botón sea un poco más grande */
} 

#realizar-pedido:hover {
    background-color: #64AD61 !important; /* Cambia el color de fondo a un verde más claro cuando se pasa el ratón por encima */
    color: white !important; /* Cambia el color del texto a blanco cuando se pasa el ratón por encima */
}

/* Estilos para pantallas de tamaño pequeño (menos de 480px) */
@media (max-width: 480px) {
    .carrito-producto-info {
        flex-direction: column;
        align-items: flex-start;
    }

    #realizar-pedido {
        font-size: 0.8em !important; /* Reduce el tamaño del texto del botón */
        padding: 5px 10px !important; /* Reduce el tamaño del botón */
    }

    #total-pedido p {
        font-size: 1.5em !important; /* Reduce el tamaño del texto del total */
    }
}

/* Estilos para pantallas de tamaño mediano (entre 480px y 768px) */
@media (min-width: 480px) and (max-width: 768px) {
    .carrito-producto-info {
        flex-direction: row;
        align-items: center;
    }

    #realizar-pedido {
        font-size: 1em !important; /* Aumenta el tamaño del texto del botón */
        padding: 7px 14px !important; /* Aumenta el tamaño del botón */
    }

    #total-pedido p {
        font-size: 2em !important; /* Aumenta el tamaño del texto del total */
    }
}

/* Estilos para pantallas de tamaño grande (más de 768px) */
@media (min-width: 768px) {
    .carrito-producto-info {
        flex-direction: row;
        align-items: center;
    }

    #realizar-pedido {
        font-size: 1.2em !important; /* Aumenta el tamaño del texto del botón */
        padding: 10px 20px !important; /* Aumenta el tamaño del botón */
    }

    #total-pedido p {
        font-size: 2.5em !important; /* Aumenta el tamaño del texto del total */
    }
}









