{# templates/perfil/editar.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar perfil</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}   
    {{ form_end(form) }}

      <a href="{{ path('perfil') }}" class="btn">Cancelar</a>  
{% endblock %}